body{
    font: small/1.6em Verdana, Helvetica, Arial, sans-serif;
    background-image: url(../images/tk.jpeg);
    background-size: 100% 100%;
}
p{
    font-size: 12px;
}
div#wapper{         /*   主画布       */
    margin-top: 20px;
    margin-left: 156px;
    width: 935px;
    height: 800px;
}
header{             /*   页眉区   */
    background:  url(../images/100.png) no-repeat ;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

a:link{
    color:white;
    text-decoration: none;
}

header div.log{                  /*  log头像  */ 
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 10px;
    margin-right: 15px;
}
header div img.log{                /*   缩放照片    */
    width: 50px;
    height: 50px;
}
header div.headtop{
    height: 60px;
    width: 1100px;
    margin: 0px 70px 90px 25px;
    display: table;
}
header ul{
    list-style-type: none;
}
header li{
    display: inline;
    padding: 10px 50px 5px 20px ;
    color: #fff;
    font-size: 14px;
}
footer#foot{
    text-align: center;

}
div#wapper{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;

    height: 1800px;
    
}
div#callme{
    display: table;
    position: fixed;
    top:200px;
    left: 0px;
}
div#callme ul{
    list-style-type: none;
    padding:0px 0px 0px 0px ;
}
div#callme ul li{
    border: 0.5px solid #aaaab9;
}
div#famous{
    float: right;
    width:50px;
    margin-top: 70px;
    margin-right: 40px;

}
div#famous p{
    font-family: DINCond-Black;
    color: #aaaab9;
    text-align: center;
    font-size: 24px;
}
div#vidoes{              /*  播放视频div    */
    width: 200px;
    height: 625px;
    margin: 5px 30px 10px 10px ;
    
}
div#inner1{                   /*   右上部分块   */
    margin: 2px 10px 10px 20px;
    float: right;
    height: 625px;
    width: 750px;
}
div.inner{                   /*   具体展现块    */
    margin-left: auto;
    margin-right: auto;
    height:300px;
    margin-top :10px;
}
div#inner1 h1{              /*   主标题    */
    text-align: center;
    height: 45px;
    line-height: 45px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #0064b4;
}
div.photos-right{         /*   展现块内右区    */
    width: 180px;
    height: 269px;
    float: right;
}
div.photos-left{      /*   展现块内左区    */
    width: 180px;
    height: 269px;
    float: left;
}
img.fj{               /*   正常大小图片    */
    width: 180px;
    height:240px;
}
img.xfj{              /*   小图片    */
    width: 180px ;
    height: 120px;
}
img.dfj{            /*   大图片    */
    width: 210px;
    height: 280px;
}
img.cenfj{               /*  主图片    */
    width:530px;
    height:280px
}

 p.introduction{           /*   图片底部介绍栏    */
    height: 20px;
    text-align: center;
    color: #747479;
    margin: 0px 0px 5px 0px;

}
div#inner1 div.texts-right1{            /*   整体左上部右区    */
    margin: 100px 40px 80px 10px;
    text-align: center;
    height: 120px;
    width: 500px;
}
div.texts-right{                         /*   解释文字部分右    */
    margin: 20px 40px 80px 10px;
    text-align: right;
    height: 50px;
    width: 500px;
    padding: 90px 20px 50px 120px;
}

div#inner1 div.texts-left1{            /*   左上部文字解释块   */
    margin: 150px 40px 80px 200px;
    text-align: left;
    height: 120px;
    width: 500px;
}
div.texts-left{                      /*   解释文字部分左    */
    margin: 20px 40px 80px 200px;
    text-align: left;
    height: 50px;
    width: 500px;
    padding: 90px 20px 50px 120px;
}
div.texts{                            /*   解释文字部分   */
    margin:20px 40px 80px 250px;
    height: 200px;
    width: 530px;
    padding-top: 80px ;
    text-align: center;
}
div#text{                          /*   中区解释部分  */
    height: 300px;
    width: 530px;
    margin:20px 40px 20px 250px;
    background-color: reb;

}
div#right{                      /*   中区解释部分右部    */
    float: right;
}
div#left{                    /*   中区解释部分左部    */
    float: left;
}
div#down{                     /*   中区解释部分底部    */
    margin-top: 150px;
    text-align: center;
}